body{
    background-image: url('images/bg.jpeg');
    background-repeat: no-repeat;
    background-size: 1480px 150px;
    background-color: rgb(189, 177, 228);
    }
    
    img.Profilepic {
        width: 110px; 
        border-radius: 70px;
        float:left;
        margin-right: 20px;
        position: relative;left: 70px ;top: 19px;
        border: 5px solid whitesmoke ;
        }
        .udemy {
            font-weight: bold;
            font-size: xx-large;
            position: relative;left: 80px ;top: 20px;
            font-weight: bolder;
            }
        .Bio {
            position: relative;left: 80px;top: 10px;
            font-size:larger;
        }
        .Description {
            position: relative; left: -70px; top: 50px;
               }
               .Locate {
                   position: relative;left: 70px;top: 40px;
                color: rgba(0,0,0, 0.6);
               }
               .About {
                   position: relative; left: 70px;top: 60px;
               }
               .Abouttheory{
                   border-radius: 20px;
                   position: relative;width: 1000px;height: 150px;
                   background-color:rgb(173, 144, 235);
                position: relative; left: 70px;top: 60px;
               }
               .Experience{
                position: relative; left: 70px;top: 70px;
               }
               .Experiencetheory{
                border-radius: 20px;
                   position: relative;width: 560px;height: 150px;
                   background-color: rgb(173, 144, 235);
                   position: relative;left: 70px; top: 70px;
               }
               .Education{
                   position: relative;left: 70px;top: 90px;
               }
               .pehlapointeducation{
                   position: relative;left: 70px;top: 100px;
               }
               img.Clglogo{
                width: 70px; 
        border-radius: 50px;
        float:left;
        margin-right: 20px;
        position: relative;left: 20px ;top: 10px;
               }
               .clgheading{
                position: relative;left: 90px;top: 80px;
               }
               img.Allenlogo {
                width: 70px; 
        border-radius: 50px;
        float:left;
        margin-right: 20px;
        position: relative;left: 20px ;top: 10px;
               }
               .allenheading{
                position: relative;left: 90px;top: 80px;
               }
               img.Alpinelogo{
                width: 80px; 
        border-radius: 50px;
        float:left;
        margin-right: 20px;
        position: relative;left: 15px ;top: 10px;
               }
               .alpineheading{
                position: relative;left: 220px;top: 70px;
               }
               .chothapointeducation{
                position: relative;left: 70px;top: 80px;
               }
               img.Norbertlogo{
                width: 70px; 
        border-radius: 50px;
        float:left;
        margin-right: 20px;
        position: relative;left: 20px ;top: 0px;
               }
               .norbertheading{
                position: relative;left: 90px;top: 50px;
               }
               .eduyrs{
                color: rgba(0,0,0, 0.6);
                font-size:medium;
               }
               .Skills{
                position: relative;left: 80px;top: 70px;
               }
               .skilltheory{
                position: relative;left: 100px; top: 80px;
               }
               .Courses{
                   float: right;
                   position: relative;left: -500px;top: -140px;
               }
               .coursetable{
                border-top-right-radius:15px;
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
                text-align: center;
                position: relative;left: 50px;top: 0px;
                width: 100%; height: 70px;
                }
               .courseslist{
                float: right;
                position: relative;left: -60px;top:-70px;
               }
               .coursetablecontent{
                font-weight: 700;
               }
               .Achievements{
                   float: right;
                   position: relative;left: 130px;top:-260px;
                   font-weight: bold;font-size:x-large
                }
                .Achievementlist{
                    float: right;
                position: relative;left: -200px;top:30px;
                font-weight: 500; font-size:large
                }
                .Achievetrans{
                    position: relative;left: 0px;top: 0px;
                    color: rgba(0,0,0, 0.6);
                }
                img.Mail{
                    width: 40px;
                    border-radius: 20px;
                    position: relative;top: 200px;left: 1050px;
                    float: left;
                }
               .mail {
                   position: relative; left: 1050px;top: 212px;
                   font-style: italic;
                  font-weight: bold;
               }
               img.Phone{
                    width: 35px;
                    border-radius: 20px;
                    position: relative;top:220px;left: 1012px;
                    float: left;
                }
               .phone{
                   position: relative; left: 1020px;top: 226px;
                   font-style: italic;
                  font-weight: bold;
               }